/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0c0032, #35003c, #4b006e);
    color: #ffffff;
    line-height: 1.5;
    overflow-x: hidden;
  }
  
  header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #180050, #22013e);
    color: #fff;
  }
  
  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #03c8ff;
  }
  
  p {
    font-size: 1em;
    max-width: 600px;
    margin: 0 auto;
    color: #e0e0e0;
    opacity: 0.8;
  }
  
  /* New button styles */
  .filters {
    text-align: center;
    margin: 20px 0;
  }
  
  .filter-btn {
    background-color: #2d017d;
    color: #ffffff;
    padding: 12px 25px;
    margin: 5px;
    border: 2px solid #2a007a;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filter-btn.active, .filter-btn:hover {
    background-color: #ff3eec;
    border-color: #ff3eec;
    color: #2a007a;
  }
  
  /* Timeline Styling */
  .timeline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1.3rem;
  }
  
  .mission {
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1rem 1rem;
    padding: 25px;
    border-radius: 20px;
    width: 85%;
    max-width: 700px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .mission.active {
    display: block;
  }

  @media (max-width: 1300px){
    .mission.active {
        display: block;
        width: 600px;
      }
  }
  
  .mission:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.9);
  }
  
  .mission-date {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8em;
    color: #feeb3e;
    margin-bottom: 10px;
  }
  
  .mission-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .mission-details p {
    color: #bdbdbd;
  }

  .mission-more-info {
    display: none;
    margin-top: 15px;
    color: #b6e8ff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
  }
  
  .more-info-btn {
    background-color: #ffeb3b;
    color: #2a0077;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .more-info-btn:hover {
    background-color: #ffeb3ccc;
  }

  .projects {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px auto;
    max-width: 1200px;
  }
  
  .projects h2 {
    text-align: center;
    font-size: 2.5em;
    color: #ff9800;
    margin-bottom: 20px;
  }
  
  .project-category {
    margin-bottom: 30px;
  }
  
  .project-category h3 {
    border-bottom: 2px solid #ff9800;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .project-category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .project-category li {
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  
  .project-category li:hover {
    background: #ff9800;
    color: #000;
  }
  
  .project-summary {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
  }
  
  
  /* Footer Styling */
  footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #180050, #20013b);
    color: #ccc;
  }


  @media (max-width: 768px) {
    header h1 {
      font-size: 2em;
    }
  
    header p {
      font-size: 1.1em;
    }
  
    .mission-details h2 {
      font-size: 1.4em;
    }
  
    .mission-details p {
      font-size: 0.9em;
    }
  
    .more-info-btn {
      font-size: 0.8em;
    }
  }
  
  /* Media queries for very small devices (e.g., phones) */
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.8em;
    }
  
    header p {
      font-size: 1em;
    }
  
    .filters {
      flex-direction: column;
    }
  
    .filter-btn {
      font-size: 0.8em;
      padding: 8px 18px;
    }
  
    .mission-details h2 {
      font-size: 1.3em;
    }
  
    .mission-details p {
      font-size: 0.85em;
    }
  }